<!-- <svg
  class="h-6 w-28 tds-icon tds-icon-logo-wordmark tds-site-logo-icon"
  viewBox="0 0 342 35"
  xmlns="http://www.w3.org/2000/svg"
  ><path
    d="M0 .1a9.7 9.7 0 0 0 7 7h11l.5.1v27.6h6.8V7.3L26 7h11a9.8 9.8 0 0 0 7-7H0zm238.6 0h-6.8v34.8H263a9.7 9.7 0 0 0 6-6.8h-30.3V0zm-52.3 6.8c3.6-1 6.6-3.8 7.4-6.9l-38.1.1v20.6h31.1v7.2h-24.4a13.6 13.6 0 0 0-8.7 7h39.9v-21h-31.2v-7h24zm116.2 28h6.7v-14h24.6v14h6.7v-21h-38zM85.3 7h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7zm0 13.8h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7zm0 14.1h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7zM308.5 7h26a9.6 9.6 0 0 0 7-7h-40a9.6 9.6 0 0 0 7 7z"
    fill="currentColor"></path></svg
> -->
<svg class="h-6 w-28" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 7.5"
  ><title>Asset 2nikola</title><g id="Layer_2" data-name="Layer 2"
    ><g id="Layer_1-2" data-name="Layer 1" fill="currentColor"
      ><path d="M1.5,7.5v-6L0,0H2.25L7.5,5.25V0H9V7.5H7.5L3,3V7.5Z"></path><path
        d="M10.5,7.5V0H12V7.5Z"></path><path
        d="M13.5,7.5V0H15V7.5Zm6.75,0L16.5,3.75,20.25,0H22.5l-3,3h0l-.74.75L22.5,7.5Z"
      ></path><path
        d="M25.5,1.5a1.46,1.46,0,0,1-1.07-.43A1.49,1.49,0,0,1,24,0h9a1.44,1.44,0,0,1-.45,1.07,1.43,1.43,0,0,1-1,.43ZM24,7.5V3h1.5V6h6V3H33V7.5Z"
      ></path><path d="M34.5,7.5V0H36V6h7.5A1.5,1.5,0,0,1,42,7.5Z"></path><path
        d="M46.5,1.5a1.46,1.46,0,0,1-1.07-.43A1.49,1.49,0,0,1,45,0h9a1.44,1.44,0,0,1-.45,1.07,1.43,1.43,0,0,1-1,.43ZM45,7.5V3h9V7.5H52.5v-3h-6v3Z"
      ></path></g
    ></g
  ></svg
>
